.patient-container {
    .patient-header {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .patient-header-title {
            margin-left: 34px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 43px;
            line-height: 32px;
        }
    }

    .patient-table {
        margin-top: 30px;

        .search-bar-container {
            margin-bottom: 20px;

            .search-bar {
                background: #FFFFFF;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.208151);
                border-radius: 37px;
                color: #8893AA;
                padding-left: 30px;
                height: 50px;
            }
        }

        .patient-table-container {
            font-family: 'Lato';
            background: transparent;

            table {
                border-collapse: collapse;
            }

            th.mat-header-cell {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 32px;
                letter-spacing: 0.857143px;
                text-transform: uppercase;
                color: #A3ACBF;
            }

            tr.mat-row {
                background: #FFFFFF;
                border: 1px solid #D7DBE6;
            }

            td,
            th {
                text-align: center !important;
                vertical-align: middle !important;
            }

            .mat-sort-header-container {
                justify-content: center !important;
            }
        }
    }
}